body {
    font-family: 'Helvetica Neue';
}
._header1{
    display: flex;
    background-color: #cc0621;
    height: 35px;
    align-items: center;
    justify-content: center;
}
._header2{
    background-color: #cc0621;
    height: 80px;
}
.sticky-top2 {
    position: sticky;
    top: 0;
    z-index: 1000;
}
._head{
    margin-left: 50px;
}
._header-search{
    box-sizing: border-box;
}
._container-header{
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding: 3px;
}
._container-hotline{
    position: relative;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding: 3px;
}
.information{
    width: 500px;
}
.in-thanh-sp{
    width: 100%;
}
.thanh_sp_header{
    grid-template-columns: 790px 80px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 40px;
    width: 870px;
    background-color: #fff;
    border-radius: 3px;
}
.link_sp_header{
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 870px;
}
.v-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.dropdown{
    margin-left: 10px;
}
.size-hotline{
    font-size: 13px;
}
.size-sign{
    font-size: 13px;
    text-align: right;

}
.container-header{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.container-fluid2{
    display: flex;
    flex-wrap: inherit;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    width: 1200px;
    height: 80px;;
}
._container-center{
    width: 1200px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: flex-start
}
._container-sign{

    text-align: right;
}
._search-form{
    width: 850px;
    height: 39px;
    background-color: #fff;
    border-radius: 3px;
}
._search-img2{
    position: relative;
    width: 170px;
    height: 45px;
}
.input-search {
    margin-left: 10px;
    border-radius: 3px;
    border: 0;
    width: 98%;
    height: 33px;
    outline: none;
}
.khung-button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.button-search{
    cursor: pointer;
    border: 3px;
    width: 75px;
    height: 35px;
    background-color: #cc0621;
    border-radius: 3px;
}
button:hover {
    background-color: #e61531;
}
.text-color-white{
    text-decoration: none;
    color: white;
}
.text-color-white-ha{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.linked{
    text-decoration: none;
    margin-left: 6px;
}
.hover:hover{
    color: #e3e1e1;
}
.text-color-white-ga{
    text-decoration: none;
    color: white;
    opacity: 50%;
}
._gioHang{
    position: relative;
    width: 29px;
    height: 29px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.cart-count {
    background-color: #fff;
    border: 2px solid #cc0621;
    position: absolute;
    color: #cc0621;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px 6px;
    margin-top: -8px;
    margin-left: -12px;

}
._btn-gioHang{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    margin-top: 8px;
}
.navbar__spacer {
     flex: 1;
 }
.navbar__sign {
    list-style: none;
    padding-top: 5px;
    margin: 0;
    height: 2.125rem;
}
._span-space{
    margin-left: 10px;
    margin-right: 10px;
}
._search-text{
    color: #fff;
    font-size: 11px;
    line-height: 1.7rem;
    margin-right: 20px;
    text-decoration: none;
}
._taskbar-items{
    width: 50px;
}
.logo2 {
    width: 170px;
    height: 45px;
    align-items: center;
    display: flex;
}



